<%- include("partials/header.ejs") %>
<%- include("partials/navbar.ejs") %>




<div class="section" style="background-color: #f0f0f0;">
    <div class="container_a hero">
        <div class="title">
            <h1>WEB DEVELOPER</h1>
            <h2 class="subtitle">SOFTWARE ENGINEER</h2>
            <h3>Full Stuck Web Developer</h3>
            <ul class="service-list">
                <li><i>E-commerce</i></li>
                <li><em>Home Services</em></li>
                <li><em>Blog / Portfolio</em></li>
                <li><em>Saas</em></li>
            </ul>
        </div>

        <div class="profile-pic">
            <img class="profile-img" src="../images/profile_photo.png">
        </div>
    </div>
</div>

<div class="section" style="background-color: #fefefe;">
    <div class="container_a tran">
        <div class="x">
            <img src="../images/deco-1.png">
        </div>
    </div>
</div>

<div class="section" style="background-color: #fefefe;">
    <div class="nxt">

    </div>
</div>

<div class="orange"></div>
<%- include("partials/footer.ejs") %></a>